body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin: 1vw;
}

.flex-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

label {
    font-size: 1.2vw;
}

select {
    width: fit-content;
    margin: 0.5vw;
}