body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #3772FF;
    color: #080708;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    /* Full viewport width */
}

.confirm-toggle-cont {
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

h1 {
    font-size: 3vw;
    flex-grow: 1;
    text-align: center;
    margin: 1vw;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: -1;
    /* Ensure it's below the toggle to click it */
}

.switch {
    position: relative;
    display: inline-block;
    width: 4.5vw;
    height: 2.5vw;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 2.5vw;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2vw;
    width: 2vw;
    left: 0.25vw;
    bottom: 0.25vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #10c668;
}

input:focus+.slider {
    box-shadow: 0 0 1px #10c668;
}

input:checked+.slider:before {
    transform: translateX(1.9vw);
}

.header-line {
    color: #080708;
    background-color: #080708;
    height: 2px;
}

.score-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-bottom: 1vw;
}

.human-score,
.comp-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    padding: 12px;
}

.flex-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s;
}

p {
    font-size: 1.5vw;
    font-weight: 700;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    /* Added second layer of shadow */
}

.image-cont {
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
    width: 100vw;
    justify-content: space-around;
}

.image-link {
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    width: fit-content;
}

img {
    width: 25vw;

}

.conf-message {
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    background-color: #FDCA40;
    margin: 5vw;
    padding: 1.5vw;
    border-radius: 1vw;
    border: 2px solid #080708;
    gap: 1vw;
}

.Yes-or-no-cont {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.selected {
    background-color: #10c668;
}

.win {
    background-color: #10c668;
    border: 2px solid #080708;
}

.lose {
    background-color: #df2935;
    border: 2px solid #080708;
}

.draw {
    background-color: #fdca40;
    border: 2px solid #080708;
}

.yes-button,
.no-button {
    font-size: 2vw;
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    padding: 0.5vw 1.5vw;
    cursor: pointer;
}

.results-cont {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid #080708;
    border-radius: 1vw;
    width: 60%;
    margin: auto;
    padding: 1vw;
    gap: 2vw;
    transition: opacity 0.5s;
}

.results-pic-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.results-image {
    width: 22vw;
}

.human-result-cont,
.comp-result-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-title,
.human-choice,
.comp-choice,
.human-score,
.comp-score,
.result-message {
    font-size: 1.5vw;
    font-weight: 600;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    /* Added second layer of shadow */
    letter-spacing: 1px;
}

.human-score,
.comp-score,
.result-message {
    font-size: calc(1.5vw + 1rem);
}

.mirror {
    transform: scaleX(-1);
}

.play-next-round {
    font-size: calc(1vw + 1rem);
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    padding: 0.5vw 1.5vw;
    cursor: pointer;
}

@media (hover: hover) {

    /* when hover is supported */
    .yes-button:hover {
        color: white;
        background: #10c668;
    }

    .no-button:hover {
        color: white;
        background: #df2935;
    }

    .image-link:hover {
        background: #10c668;
    }

    .play-next-round:hover {
        color: white;
        background: #10c668;
    }
}

.game-over-message {
    font-size: calc(2vw + 2rem);
    margin-top: 25vh;
    text-align: center;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer {
    width: 100vw;
    height: 4vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDCA40;
    border-top: 2px solid #080708;
}