body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #3772FF;
    color: #080708;
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin: 1vw;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.score-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.flex-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
}

p {
    font-size: 1.5vw;
    font-weight: 700;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    /* Added second layer of shadow */
}

.image-cont {
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
    width: 100vw;
    justify-content: space-around;
}

.image-link {
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    width: fit-content;
}

img {
    width: 25vw;

}

.conf-message {
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    background-color: #FDCA40;
    margin: 5vw;
    padding: 1.5vw;
    border-radius: 1vw;
    border: 2px solid #080708;
    gap: 1vw;
}

.Yes-or-no-cont {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.selected {
    background-color: #10c668;
}

.yes-button,
.no-button {
    font-size: 2vw;
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    padding: 0.5vw 1.5vw;
    cursor: pointer;
}

.results-cont {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid #080708;
    border-radius: 1vw;
    width: 60%;
    margin: auto;
    padding: 1vw;
    gap: 2vw;
    transition: opacity 1s;
}

.results-pic-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.human-result-cont,
.comp-result-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-title,
.human-choice,
.comp-choice,
.human-score,
.comp-score,
.result-message {
    font-size: 1.5vw;
    font-weight: 600;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    /* Added second layer of shadow */
    letter-spacing: 1px;
}

.human-score,
.comp-score,
.result-message {
    font-size: calc(1.5vw + 1rem);
}

.mirror {
    transform: scaleX(-1);
}

.play-next-round {
    font-size: calc(1vw + 1rem);
    background-color: #fdca40;
    border-radius: 1vw;
    border: 2px solid #080708;
    padding: 0.5vw 1.5vw;
    cursor: pointer;
}

@media (hover: hover) {

    /* when hover is supported */
    .yes-button:hover {
        color: white;
        background: #10c668;
    }

    .no-button:hover {
        color: white;
        background: #df2935;
    }

    .image-link:hover {
        background: #10c668;
    }

    .play-next-round:hover {
        color: white;
        background: #10c668;
    }
}

.game-over-message {
    font-size: calc(2vw + 2rem);
    margin-top: 30vh;
    text-align: center;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
}